# Build ASP.NET Core project using Azure Pipelines
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core?view=vsts

pool:
  vmImage: 'VS2017-Win2016'
  
variables:
  buildConfiguration: 'Release'

steps:
# Install SonarScanner
- script: |
    dotnet tool install --global dotnet-sonarscanner

# Begin SonarScanner
- script: |
    %USERPROFILE%\.dotnet\tools\dotnet-sonarscanner begin /k:"ljchristinson_pipelines-dotnet-core" /d:sonar.organization="ljchristinson-github" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="32bbef2a150290c6c38101e99b7dd4d861af0d61" /v:"$(buildId)"

- script: |
    dotnet build --configuration $(buildConfiguration)
    dotnet publish --configuration $(buildConfiguration) --output $BUILD_ARTIFACTSTAGINGDIRECTORY

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: '**/*tests/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: PublishTestResults@2
  inputs:
    testRunner: VSTest
    testResultsFiles: '**/*.trx'

- task: PublishBuildArtifacts@1

# End SonarScanner
- script: |
    %USERPROFILE%\.dotnet\tools\dotnet-sonarscanner end /d:sonar.login="32bbef2a150290c6c38101e99b7dd4d861af0d61"
